{% extends "authentication/header.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1>Change booking slots</h1>
                <form method="POST" action="{% url 'change_slots' %}" novalidate>
                    {% csrf_token %}
                    <div id="div_id_booking_slots" class="form-group">
                        <label for="id_booking_slots">{{ profile_form.booking_slots.label }}*</label>
                        <div>
                            <select name="{{ profile_form.booking_slots.name }}"
                                    id="id_booking_slots"
                                    class="selectpicker form-control"
                                    data-width="100%" multiple data-actions-box="true">
                                {% for value, text in profile_form.booking_slots.field.choices %}
                                    <option id="id_booking_slots_{{ forloop.counter0 }}"
                                            value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                            {% if profile_form.booking_slots.errors %}
                                <div class="non-field-errors">
                                    {% for err in profile_form.booking_slots.errors %}
                                        <p class="booking_slot_error"><strong>{{ err }}</strong></p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg mt-2">Change slots</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
