{% extends "authentication/header.html" %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        <h1>Unconfirmed meetings</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Slot</th>
                {% if user.profile.user_type == 'adviser' %}
                    <th>Student</th>
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for r in meeting_list %}
                <tr>
                    <td><a href="{{ r.get_absolute_url_title }}">{{ r.meeting_title }}</a></td>
                    <td>{{ r.meeting_description|truncatechars:200 }}</td>
                    <td>{{ r.meeting_date }}</td>
                    <td>{{ r.meeting_slot }}</td>
                    {% if user.profile.user_type == 'adviser' %}
                        <td>{{ r.meeting_student }}</td>
                        <td><button type="button" class="btn btn-light">
                                <a href="{% url 'confirm_specific_meeting' pk=r.id %}">Confirm</a>
                            </button>
                            <br><br>
                            <button type="button" class="btn btn-light">
                                <a href="{% url 'cancel_specific_meeting' pk=r.id %}">Cancel</a>
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
