<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container">
        <a href="/" class="navbar-brand">Appointment</a>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/account">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
